<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container2">
        <div class="canNot0">Oops!!! Access Denied</div>
        <div class="canNot">
            <div class="canNot1">你没有权限访问该页面~！</div>
            <div class="canNot2"><img src="../static/images/error.png"></div>
            <div class="canNot3"><a href="/index">返回首页</a></div>
        </div>
    </div>
</body>
</html>