<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container2">
        <div class="canNot0">Internal Server Error</div>
        <div class="canNot">
            <div class="canNot1">Sorry~发生了一些想不到的问题！</div>
            <div class="canNot2"><img src="../static/images/error500.png"></div>
            <div class="canNot3"><a href="/index">返回首页</a></div>
        </div>

    </div>
</body>
</html>